In [231]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [232]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1382,tt0369441,100000000,202026112,Fun with Dick and Jane,Jim Carrey|TÃ©a Leoni|Alec Baldwin|Richard Jen...,Dean Parisot,Giving big businesses a run for their money!,"After losing their high-paying corporate jobs,...",90,Comedy,Imagine Entertainment|Columbia Pictures Corpor...,12/21/2005,5.9,2005
1074,tt1621045,12000000,96070507,Think Like a Man,Michael Ealy|Jerry Ferrara|Meagan Good|Regina ...,Tim Story,Let the mind games begin,Four friends conspire to turn the tables on th...,123,Comedy|Romance,Rainforest Films|Screen Gems|Studio Mir,4/16/2012,6.6,2012
542,tt0164334,60000000,105178561,Along Came a Spider,Morgan Freeman|Monica Potter|Michael Wincott|D...,Lee Tamahori,The game is far from over.,When a teacher kidnaps a girl from a prestigio...,104,Crime|Mystery|Thriller|Action,Paramount Pictures|AZL Productions KG|David Br...,4/6/2001,5.8,2001
139,tt2103281,170000000,708200000,Dawn of the Planet of the Apes,Andy Serkis|Jason Clarke|Toby Kebbell|Keri Rus...,Matt Reeves,One last chance for peace.,A group of scientists in San Francisco struggl...,130,Science Fiction|Action|Drama|Thriller,Ingenious Media|Chernin Entertainment|TSG Ente...,6/26/2014,7.4,2014
697,tt0416212,11000000,38105395,The Secret Life of Bees,Dakota Fanning|Queen Latifah|Jennifer Hudson|S...,Gina Prince-Bythewood,"Bring Your Girlfriends, Sisters, Mothers and D...","Set in South Carolina in 1964, this is the tal...",114,Adventure|Drama,Fox Searchlight Pictures,9/17/2008,7.2,2008

In [233]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [234]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data['revenue'] - data['budget']
#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...
answers

{}

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [235]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
#answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650) +' 
# если ответили верно, можете добавить комментарий со значком "+"

In [236]:
answers_1 = data[data.budget == data.budget.max()] [['original_title','imdb_id']]
answers_1

                                  original_title    imdb_id
723  Pirates of the Caribbean: On Stranger Tides  tt1298650

ВАРИАНТ 2

In [237]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [238]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111) +'

In [239]:
answers_2 = data[data.runtime == data.runtime.max()] [['original_title','imdb_id']]
answers_2

         original_title    imdb_id
1157  Gods and Generals  tt0279111

# 3. Какой из фильмов самый короткий (в минутах)?

In [240]:
answers['3'] = '3. Winnie the Pooh (tt1449283) +'

In [241]:
answers_3 = data[data.runtime == data.runtime.min()] [['original_title','imdb_id']]
answers_3

      original_title    imdb_id
768  Winnie the Pooh  tt1449283

# 4. Какова средняя длительность фильмов?

In [242]:
answers['4'] = '2. 110 +'

In [243]:
answers_4 = data.runtime.mean()
print(round(answers_4))

110

# 5. Каково медианное значение длительности фильмов?

In [244]:
answers['5'] = '1. 107 +'

In [245]:
answers_5 = data.runtime.median()
print(round(answers_5))

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [246]:
answers['6'] = '5. Avatar (tt0499549) +'

In [247]:
# лучше код получения столбца profit вынести в Предобработку что в начале
# добавляем дополнительный столбец содержаший значение прибыли фильма
answers_6 = data[data.profit == data.profit.max()] [['original_title','imdb_id','profit']]
print(answers_6)

    original_title    imdb_id      profit
239         Avatar  tt0499549  2544505847

# 7. Какой фильм самый убыточный?

In [248]:
answers['7'] = '5. The Lone Ranger (tt1210819) +'

In [249]:
answers_7 = data[data.profit == data.profit.min()] [['original_title','imdb_id','profit']]
print(answers_7)

       original_title    imdb_id     profit
1245  The Lone Ranger  tt1210819 -165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [250]:
answers['8'] = '1. 1478 +'

In [251]:
answers_8 = data[data.revenue > data.budget]
answers_8.shape[0]

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [252]:
answers['9'] = '4. The Dark Knight (tt0468569) +'

In [253]:
data_2008 = data[data.release_year == 2008] #датафрейм с фильмами 2008 года
answers_9 = data_2008[data_2008.profit == data_2008.profit.max()] [['original_title','imdb_id']]
print(answers_9)

      original_title    imdb_id
599  The Dark Knight  tt0468569

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [254]:
answers['10'] = '5. The Lone Ranger (tt1210819)' #+

In [255]:
data_year = data[(data.release_year >= 2012) & (data.release_year <= 2014)] #датафрейм с фильмами с 2012 по 2014 годы
answers_10 = data_year[data_year.profit == data_year.profit.min()] [['original_title','imdb_id']]
print(answers_10)

       original_title    imdb_id
1245  The Lone Ranger  tt1210819

# 11. Какого жанра фильмов больше всего?

In [256]:
answers['11'] = '3. Drama +'

In [257]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

data.genres.str.split('|').sum() #разделение нескольких жанрав
pd.Series(data.genres.str.split('|').sum()).value_counts(0).index[0]

'Drama'

ВАРИАНТ 2

In [258]:
genre = (data.set_index(data.columns.drop('genres',1).tolist())
        .genres.str.split('|', expand=True)
        .stack()
        .reset_index()
        .rename(columns={0:'genres'})
        .loc[:, data.columns]
        )
genre['genres'].value_counts().sort_values(ascending = False).index[0]

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [259]:
answers['12'] = '1. Drama +'

In [260]:
data = data[data.profit > 0] #датафрейм с прибыльными фильмами
data.genres.str.split('|').sum() #разделение фильмов с несколькими жанрами
pd.Series(data.genres.str.split('|').sum()).value_counts(0).index[0]

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [261]:
answers['13'] = '5. Peter Jackson +'

In [262]:
data['director'] = data.director.str.split('|') #разделение фильмов с несколькими режиссёрами
data_directors=data.explode('director') #группировка датафрейма
data_directors.groupby(['director'])['revenue'].sum().sort_values(ascending=False).index[0]

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [263]:
answers['14'] = '3. Robert Rodriguez +'

In [264]:
data = pd.read_csv('movie_bd_v5.csv')
data['director'] = data.director.str.split('|') #разделение фильмов с несколькими режиссёрами
data['genres'] = data.genres.str.split('|') #разделение фильмов с несколькими жанрами
director = data.explode('director') #группировка датафрейма
data_end = director.explode('genres') #группировка датафрейма
data_end[data_end['genres'].str.contains('Action')]['director'].value_counts().sort_values(ascending=False).index[0]

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [265]:
answers['15'] = '3. Chris Hemsworth +'

In [266]:
data = pd.read_csv('movie_bd_v5.csv')
data_2012 = data[data.release_year == 2012] #датафрейм с фильмами 2012 года
data_2012['cast'] = data_2012.cast.str.split('|') #разделение фильмов с несколькими актёрами
data_2012 = data_2012.explode('cast') #группировка по актёрам
data_2012.groupby(['cast'])['revenue'].sum().sort_values(ascending=False).index[0]

<ipython-input-266-70c4d42114f3>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_2012['cast'] = data_2012.cast.str.split('|') #разделение фильмов с несколькими актёрами

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [267]:
answers['16'] = '3. Matt Damon +'

In [268]:
data = pd.read_csv('movie_bd_v5.csv')
data.cast = data.cast.str.split('|')
data = data.explode('cast')
data = data[data['budget'] > data['budget'].mean()] #датафрейм с высокобюджетными фильмами
answer_16 = data['cast'].value_counts()
answer_16.index[0]

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [269]:
answers['17'] = '2. Action +'

In [270]:
data = pd.read_csv('movie_bd_v5.csv')
data.cast = data.cast.str.split('|')
data.genres = data.genres.str.split('|')
data = data.explode('cast')
data = data.explode('genres')
data = data[data['cast'] == 'Nicolas Cage'] #датафрейм с высокобюджетными фильмами
answer_17 = data['genres'].value_counts()
answer_17.index[0]

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [271]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626) верно' #+

In [272]:
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data['revenue'] - data['budget']
data.production_companies = data.production_companies.str.split('|')
data = data.explode('production_companies') 
data = data[data['production_companies'] == 'Paramount Pictures'] #датафрейм с высокобюджетными фильмами
answers_18 = data[data.profit == data.profit.min()] [['original_title','imdb_id']]
answers_18

           original_title    imdb_id
925  K-19: The Widowmaker  tt0267626

19. Какой год стал самым успешным по суммарным кассовым сборам?

In [273]:
answers['19'] = '5. 2015 +'

In [274]:
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data['revenue'] - data['budget']
answers_19 = data.groupby(['release_year'])['profit'].sum().sort_values(ascending=False)
answers_19.index[0]

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [275]:
answers['20'] = '1. 2014 +'

In [276]:
answer_20 = data[data['production_companies'].str.contains("Warner Bros.", 
            na=False) == True].groupby(['release_year']).sum().sort_values(by='profit', ascending=False)
answer_20.index[0]

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [277]:
answers['21'] = '4. Сентябрь +'

In [278]:
data["Month"] = pd.to_datetime(data["release_date"], format="%m/%d/%Y")
data["Month"] = pd.DatetimeIndex(data['Month']).month
answer_21 = data.groupby(["Month"])['imdb_id'].count().sort_values(ascending=False)
answer_21.index[0]

9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [279]:
answers['22'] = '2. 450 +'

In [280]:
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data['revenue'] - data['budget']
data["Month"] = pd.to_datetime(data["release_date"], format="%m/%d/%Y")
data["Month"] = pd.DatetimeIndex(data['Month']).month
answer_22 = data[(data['Month'] == 6) | (data['Month'] == 7) | (data['Month'] == 8)]['imdb_id'].count()
answer_22

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [281]:
answers['23'] = '5. Peter Jackson +'

In [282]:
data["Month"] = pd.to_datetime(data["release_date"], format="%m/%d/%Y")
data["Month"] = pd.DatetimeIndex(data['Month']).month

answer_23 = data[(data['Month'] == 12) | (data['Month'] == 1) |
                 (data['Month'] == 2)].groupby(['director']).count().sort_values(by='imdb_id', ascending=False)
answer_23.index[0]

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [283]:
answers['24'] = '5. Four By Two Productions верно +'

In [284]:
data = pd.read_csv('movie_bd_v5.csv')
data['length'] = data['original_title'].apply(lambda x: len(x))
product = (data.set_index(data.columns.drop('production_companies',1).tolist())
          .production_companies.str.split('|', expand=True)
          .stack()
          .reset_index()
          .rename(columns={0:'production_companies'})
          .loc[:, data.columns]
           )
answer_24 = product.groupby('production_companies')['length'].mean().sort_values(ascending=False)
answer_24.index[0]

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [285]:
answers['25'] = '3. Midnight Picture Show +'

In [286]:
data = pd.read_csv('movie_bd_v5.csv')
data['word'] = data['overview'].apply(lambda x: len(x.split(' ')))

product = (data.set_index(data.columns.drop('production_companies',1).tolist())
          .production_companies.str.split('|', expand=True)
          .stack()
          .reset_index()
          .rename(columns={0:'production_companies'})
          .loc[:, data.columns]
   )
answer_25 = product.groupby('production_companies')['word'].mean().sort_values(ascending=False)
answer_25.index[0]

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [287]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave +'

In [288]:
data = pd.read_csv('movie_bd_v5.csv')
persent = int(len(data) * 0.01)
xx = data.sort_values(by='vote_average',  ascending=False)[:persent]
for i in xx['original_title']:
    if i == 'Inside Out' :
        print(1)
    elif i == 'BloodRayne': 
        print(2)
    elif i == 'Batman Begins': 
        print(3)
    elif i == '300': 
        print(4)
    elif i == 'Upside Down': 
        print(5)

1

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [289]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint +'

In [290]:

data['castcoma'] = data['cast'].apply(lambda x: x.replace('|', ', '))

jh =  ['Johnny Depp', 'Helena Bonham Carter']
hi =  ['Hugh Jackman', 'Ian McKellen']
vp =  ['Vin Diesel', 'Paul Walker']
ak =  ['Adam Sandler', 'Kevin James']
dr = ['Daniel Radcliffe', 'Rupert Grint']

jhs = data[(data.castcoma.str.contains("Johnny Depp", na=False)) & (data.castcoma.str.contains("Helena Bonham Carter", na=False))]
his = data[(data.castcoma.str.contains("Hugh Jackman", na=False)) & (data.castcoma.str.contains("Ian McKellen", na=False))]
vps = data[(data.castcoma.str.contains("Vin Diesel", na=False)) & (data.castcoma.str.contains("Paul Walker", na=False))]
aks = data[(data.castcoma.str.contains("Adam Sandler", na=False)) & (data.castcoma.str.contains("Kevin James", na=False))]
drs = data[(data.castcoma.str.contains("Daniel Radcliffe", na=False)) & (data.castcoma.str.contains("Rupert Grint", na=False))]

len(jhs), len(his), len(vps), len(aks), len(drs)

(6, 5, 5, 5, 8)

ВАРИАНТ 2

# Submission

In [291]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650) +',
 '2': '2. Gods and Generals (tt0279111) +',
 '3': '3. Winnie the Pooh (tt1449283) +',
 '4': '2. 110 +',
 '5': '1. 107 +',
 '6': '5. Avatar (tt0499549) +',
 '7': '5. The Lone Ranger (tt1210819) +',
 '8': '1. 1478 +',
 '9': '4. The Dark Knight (tt0468569) +',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama +',
 '12': '1. Drama +',
 '13': '5. Peter Jackson +',
 '14': '3. Robert Rodriguez +',
 '15': '3. Chris Hemsworth +',
 '16': '3. Matt Damon +',
 '17': '2. Action +',
 '18': '1. K-19: The Widowmaker (tt0267626) верно',
 '19': '5. 2015 +',
 '20': '1. 2014 +',
 '21': '4. Сентябрь +',
 '22': '2. 450 +',
 '23': '5. Peter Jackson +',
 '24': '5. Four By Two Productions верно +',
 '25': '3. Midnight Picture Show +',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave +',
 '27': '5. Daniel Radcliffe & Rupert Grint +'}

In [292]:
# и убедиться что ни чего не пропустил)
len(answers)

27